article{
     font-family: Raleway, sans-serif;
     font-size: 16px;
     line-height: 1.5;
}

h1{
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}

ul{
    list-style-type: disc;
}

.empty{
    list-style-type: circle;
}