*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, sans-serif;
    line-height: 1.5em;
}

body{
    padding: 2em;
}

section{
    display: flex;
    margin: 2em auto;
    justify-content: space-between ;
    max-width: 70vw;
}

article{
    flex: 0 0 200px;
}

h2{
    font-family: Georgia, serif;
    line-height: 1.2em;
    padding-bottom: 1em;
}